<div class="gallery-grid">

{% for image in product.images %}

<div class="gallery-item {% if forloop.first %}gallery-main{% endif %}">
<img src="{{ image | img_url: '1000x' }}" alt="{{ image.alt }}">
</div>

{% endfor %}

</div>